/*Katherine Hiraldo*/

/*RESET CODE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	font-size: 16px;
	--fonts: Molle, Montserrat, sans-serif;
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-grey: #222222;
	--light-grey: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
	
  }

  /*SKIP LINK*/
  #skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
   
  #skip:focus{
	position: static;
	width: auto;
	height: auto;
  }

  /*BODY*/
  body{
	font-family: var(--fonts);
	color: var(--black);
	margin:0;
	padding:10px;
  }

  /*HEADINGS*/
  h1, h2, h3 {
	font-family: Molle;
	color:#000000;
  }

  h1 {
	font-size: 32px;
  }

  h2 {
	font-size: 28px;
  }

  h3 {
	font-size: 24px;
  }

  h4 {
	font-size: 20px;
  }

  h4, p, q, small, nav, button, form {
	font-family: Montserrat;
  }

  p {
	font-size: 14px;
  }

  /*HEADER*/
  header{
	background-image: linear-gradient(180deg, #55BCD5, #FFFFFF);
	color: var(--dark-grey);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
  }

  .header-top {
	display: flex;
	flex-direction: row;
  	justify-content: space-between; 
	margin-top: 10px;
	margin-bottom: 20px;
  }

  .header-top img {
	max-width: 150px; 
    height: auto;

  }

  .header-top #menu-toggle {
	width: 150px;
  }

  header p {
	font-size: 16px;
  }


  /*NAVIGATION*/
  #toggle {
	display: none;
  }

  label[for="toggle"] {
	display: block;
	cursor: pointer;
	background-color: var(--yellow);
	color: var(--black);
	padding: 1em;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
  }
  

  #menu-toggle ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute; 
	z-index: 10; 
  }

  .sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }

  #toggle:checked + label + ul {
	display: block;
  }

  #toggle:checked + label {
	background-color: var(--dark-grey);
	color:#FFFFFF;
}

  #menu-toggle ul li {
	background-color: var(--teal);
	margin: 0.5em 0;
	border-bottom: 1px solid black;
  }

  #menu-toggle ul li a {
	display: block;
	color: var(--black);
	text-decoration: none;
	padding: 2em;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	border-bottom: 1px solid black;
  }


/*MAIN CONTENT*/
#main-content {
	margin-top: 50px;
}

  /*INTRO*/
#intro {
	display: flex;
	flex-direction: column;
}

#img-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#img-grid img {
    width: 100%;
    height: 238px;
    object-fit: cover; 
}

#img-grid picture {
    width: 100%; 
}

#img-grid picture img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

article p {
	line-height: 1.5;
}

  /*PLAN TRIP*/
  #plan {
	background-color: var(--yellow);
	padding: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;	
	align-items:center;
	margin-bottom: 40px;
  }

  #plan section {
	display: flex;
	flex-direction: column;	
	align-items:center;
	margin: 10px;
	position: relative;
  }

  #plan img {
	background-color: var(--teal);
	width: 230px; 
  	height: 230px;
	padding: 10px;
  	margin-bottom: 10px; 
	border: 3px solid white;
	border-radius: 10px;
  }

  #plan section h4 {  
	position: absolute;  
	top: 15%;  
	left: 50%;  
	transform: translate(-50%, -50%);  	
	text-align: center;
	font-weight: bolder;
	white-space: nowrap;
  }

  /*TESTIMONIALS*/
  #testimonials {
	display: flex;
	flex-direction: column;	
	margin-bottom: 40px;
	padding: 10px;
	margin-top: 15px;
  }

  #testimonials section {
	display: flex;
	flex-direction: column;	
	align-items:center;
	margin: 10px;
  }

  #testimonials img {
	width: 50%;
	height: 50%;
  	
  }

  #testimonials h4 {
	font-weight: bold;
	margin-top: 5px;
  }

  #testimonials q {
	font-style: italic;
	text-align: center;
  }


  /*ABOUT DESTINATION*/

  #about {
	background-color: var(--blue);
	margin-bottom: 25px;
	padding: 10px;
  }

  .about-images {
    display: flex;
    flex-wrap: wrap; 
    gap: 1em; 
}

.about-images section {
    flex: 1 1 calc(50% - 1em); 
    box-sizing: border-box; 
    text-align: center;
}

.about-images img {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
}

#about h4 {  
	font-weight: bold; 
  }

  #about h3 {
	margin-bottom: 10px;
  }


  /*CONTACT FORM*/
  #contact {
	padding: 10px;
	margin-bottom: 20px;
  }

  #contact span:first-child {
	font-family: Montserrat;
	font-size: 14px;
	font-style: italic;	  
  } 


  #names span {
	color: #9B26B0;
	font-size: 1.5em !important;
	font-weight: lighter;
  }

  legend span {
	color: #9B26B0;
	font-size: 1.5em !important;
	font-weight: lighter;
  }

  #form-bottom span {
	color: #9B26B0;
	font-size: 1.5em !important;
	font-weight: lighter;
  }

  #selects span {
	color: #9B26B0;
	font-size: 1.5em !important;
	font-weight: lighter;
  }

  #contact h3 {
	margin-bottom: 5px;
  }

  #contact label:not(fieldset label) {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
  }

  fieldset legend {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
  }

  input[type="radio"] {
	accent-color: var(--purple);
  }

  
 #names input {
	padding: 20px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: #9B26B0 3px solid;
	margin-right: 50px;

 }

 #nums fieldset {
	display: flex;  
	flex-direction: column;
	margin-bottom: 20px;
 }



 .radio-input input {
	width: 35px;
	height: 35px;
 }

 #nums input {
	padding: 20px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: #9B26B0 3px solid;
	margin-right: 50px;
 }

 #selects select {
	padding: 20px;
	padding-right: 60px;
	padding-left: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: #9B26B0 3px solid;
 }

 #mySubmit {
	background-color: var(--purple);
	color: var(--white);
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 16px;
	border: none;
	margin-top: 15px;
	padding: 15px;  
	padding-left: 90px;
	padding-right: 90px;
 }


 /*FOOTER*/
 footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
 }

 footer p {
	margin-bottom: 10px;
 }

 footer a{
	font-family: Montserrat, sans-serif;
	text-decoration: none;
	margin-top: 10px;
 }

 @media screen and (min-width: 320px) and (max-width: 767px) {
	#contact {
		max-width: 320px;
	}
 }

 /*MID SCREEN - 768PX*/
 @media screen and (min-width: 768px) {

	  label[for="toggle"] {
		display: none; 
	  }

	  .header-top {  
		display: flex;  
		justify-content: space-between;  
		align-items: center;  
	   }  
		
	   .header-bottom {  
		display: flex;  
		flex-direction: column;
		justify-content: space-between;  
		align-items: center;  
	   }  

		nav { 
		display: block; 
		position: absolute;  
		top: 125px; 
		left: 45%;  
		transform: translateX(-30%);  
		width: 100%;  
	   }

	

	  #menu-toggle ul {
		display: flex;
		flex-direction: row;
		gap: 10px;
	   }

	  #menu-toggle ul li {
		background-color: var(--white);
		margin: 0.5em 0;
		border: none;
	  }
	
	  #menu-toggle ul li a {
		display: block;
		color: var(--black);
		font-weight: bold;
		text-decoration: none;
		padding: 2em;
		text-align: center;
		font-size: 0.75em;
		border: none;
	  }

	  #menu-toggle ul li a:active {
		background-color: #F6D64A;

	  }

	  #menu-toggle ul li a:hover {
		background-color: #F6D64A;
	  }

	  header {
		padding-bottom: 115px;
	  }

	h1 {
		margin-top: 40px;
		margin-right: 295px;
	}
  
	.header-bottom p {  
		word-break: break-word;  
		width: 400px; 
		margin-right: 75px;
	  }

	#intro {
		margin-left: 50px;
		margin-right: 50px;
	  }

	#img-grid {  
		display: grid;  
		grid-template-columns: 1fr 1fr;  
		grid-gap: 10px;  
	  }  
		
	#img-grid img {  
		width: 100%;  
		height: 100%;  
		object-fit: cover;  
	  }  
		
	#img-grid picture {  
		grid-column: 1 / 3;  
	  }

	#plan-grid {
		display: grid;  
		grid-template-columns: 1fr 1fr;  
		grid-gap: 10px;

	}

	#plan h3 {
		margin-right: 350px;
	}
	
	#testimonial-grid {
		display: grid;  
		grid-template-columns: 1fr 1fr;  
		grid-gap: 10px;  
	}

	#testimonial-grid img {
		width: 70%;  
		height: 70%;  
		object-fit: contain; 
	}

	.about-images {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-right: 20px;
		margin-left: 20px;
	}
	#contact {
		display: flex;
		flex-direction: column;
	}

	#names label {  
		display: block;  
		margin-bottom: 10px;  
	  }  
		
	#names input {  
		display: block;  
		width: 80%;
	  }
	
	#form-bottom label {
		display: block;  
		margin-bottom: 10px;
	}

	#form-bottom input {
		display: block;  
		width: 80%;

	}

	#nums fieldset {
		display: flex;
		flex-direction: row;
		margin-top: 25px;
		gap: 100px;
	}

	#selects label {
		display: block;  
		margin-bottom: 10px;
	}

	.custom-select select {
		display: block;  
		width: 95%;
	}

	#mySubmit {
		margin-left: 410px;
	}

	footer {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
		font-size: 14px;
		background-color: var(--light-grey);
		color: #000000;
		padding: 20px;
	}

	  
 }


  

  