/*Katherine Hiraldo*/

/*RESET CODE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat:wght@400;600&display=swap);

:root{
	font-size: 16px;
	--fonts: Molle, Montserrat, sans-serif;
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-grey: #222222;
	--light-grey: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
	
  }

  /*SKIP LINK*/
  #skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
   
  #skip:focus{
	position: static;
	width: auto;
	height: auto;
  }

  /*BODY*/
  body{
	font-family: var(--fonts);
	color: var(--black);
	margin:0;
	padding:0;
  }

  /*HEADINGS*/
  h1, h2, h3 {
	font-family: Molle;
	color:#000000;
  }

  h4, p, q, small, nav, button, form {
	font-family: Montserrat;
  }

  /*HEADER*/
  header{
	background-color: var(--teal);
	color: var(--dark-grey);
  }

  /*NAVIGATION*/
  .sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }

  nav {
	display: grid;
	grid-column-start: 1;
	grid-column-end: -1;
 
  }
  
  nav a{
	text-decoration:none;
	text-align: center;
	background-color: var(--teal);
	color: var(--black);
	font-weight: bold;
	font-size: 0.75rem;
	padding: 2rem;
  	margin: 1rem 0;
	

	
  }
  nav li {
	list-style:none;
  }

  nav label {
	text-align: center;
	background-color: var(--dark-grey);
	color: var(--white);
	font-weight: bold;
	font-size: 0.75rem;
	padding: 1rem;
  	margin: 1rem 0;
  }
  
  a{
	display: block;
	padding: 1rem;
  }

  /*PLAN TRIP*/
  #plan {
	background-color: var(--yellow);
  }

  #plan img {
	background-color: var(--teal);
  }

  /*ABOUT DESTINATION*/
  #about {
	background-color: var(--blue);
  }


  

  